@import '../../../variables.scss';

section{
    text-align: center;
    &.main{
        position: relative;
        margin: 0;
        color: $whiteColor;
        text-align: center;
        overflow: hidden;
        padding: 120px 0 50px;

        .background-image{
            background-image: url(../../../assets/home/home-banner.jpg);
            background-size: cover;
            background-color: #000000b7;
            background-blend-mode: overlay;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto 0;
            z-index: -1;
        }

        h1{
            margin: 0;
        }
        h3{
            margin: 20px 0 70px;
            font-weight: 500;
        }
        a{
            margin: 0 auto;
        }

    }

    &.clients{
        //padding-bottom: 50px;
        padding: 0 $borderPadding 50px;
        h1{
            margin-bottom: 10px;
        }
        hr{
            width: 200px;
            height: 2px;
            background-color: $blackColor;
            border: none;
            margin: 0 auto;
        }
        .logos{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;
            margin: 60px 0 40px;
            img{
                max-width: 180px;
                height: fit-content;
                filter: grayscale(100%);
                opacity: 0.8;
                &:nth-child(1){
                    width: 85px;
                }
            }
        }
    }
    &.bestselling{
        background-color: $blackColor;
        padding: 50px $borderPadding 80px;
        .top-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
            h2{
                margin: 0;
                height: fit-content;
                padding: 15px 30px;
                border-radius: 10px;
                color: white;
                background-color: $primaryColor;
            }
            /*.button-ver-todos-container{
                width: 200px;
                display: flex;
            }*/
        }
        .products{
            display: flex;
            justify-content: space-between;
        }
        .button-ver-todos-container-mobile{
            display: none;
        }
    }

    &.info{
        background-color: $whiteColor;
        color: $blackColor;
        display: flex;
        align-items: center;
        padding-left: $borderPadding;
        .content{
            text-align: left;
            margin: 30px 50px 30px 0;
            h2{
                margin: 0 0 20px;
            }
            p{
                margin: 0 0 60px;
            }
        }
        img{
            min-width: 40%;
        }
    }

    &.slider{
        background-color: $blackColor;
        h2{
            color: white;
            margin-bottom: 50px;
            text-align: center;
            margin-top: 0;
        }
        //border-top: solid $primaryColor 2px;
    }

    &.events{
        background-color: #161616;
        color: white;
        padding: 50px $borderPadding 80px;
        .events-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 30px 60px;
            span{
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 500;
                svg{
                    margin-right: 5px;
                }
            }
        }
        .events-card{
            background-color: #6537C7;
            border-radius: 30px;
            padding: 0 60px;
            display: flex;
            justify-content: space-between;
            position: relative;

            img{
                width: 50%;
                height: auto;
                align-self: flex-end;
            }
    
            .content{
                display: flex;
                flex-direction: column;
                align-items: end;
                text-align: right;
                margin: 3vw;
                h2{
                    margin: 0 0 30px;
                }
                p{
                    margin-bottom: 90px;
                }
            }
        }
    }
}

@media (max-width: 768px){
    section{
        &.main{
            padding: 50px 30px 50px;
            h1{
                text-align: left;
            }
            h3{
                margin-bottom: 50px;
                text-align: left;
            }
        }
        &.clients{
            padding: 0 $borderPaddingMobile 50px;
            .logos{
                margin: 30px 0 0;
                flex-direction: column;
                img{
                    margin: 0 0 30px;
                    height: auto;
                    &:nth-child(1){
                        width: 20%;
                    }
                }
                
            }
        }
        &.slider{
            border-top: solid $whiteColor 1px;
        }
        &.bestselling{
            padding: 50px $borderPaddingMobile 80px;
            .top-container{
                flex-direction: column;
                margin-bottom: 20px;
                h2{
                    margin-bottom: 20px;
                }
                .button-ver-todos-container{
                    display: none;
                }
            }
            .products{
                flex-direction: column;
            }
            .button-ver-todos-container-mobile{
                margin-top: 40px;
                display: flex;
                width: 100%;
                justify-content: center;
                a{
                    width: 80%;
                }
            }
        }
        &.info{
            flex-direction: column;
            .content{
                margin: 30px 0;
                padding: 0 $borderPaddingMobile;
                h2{
                    text-align: center;
                    width: 100%;
                }
                p{
                    margin-bottom: 30px;
                }
                a{
                    margin: 0 auto;
                    width: 70%;
                }
            }
            img{
                width: 100%;
            }
        }
        &.events{
            padding: 40px $borderPaddingMobile 60px;
            div{
                &.events-header{
                    flex-direction: column;
                    margin: 0 0 20px;
                    span{
                        font-size: 1.2rem;
                        margin: 0 0 20px;
                        width: calc(100% - 30px);
                        justify-content: center;
                    }
                }
                &.events-card{
                    display: grid;
                    padding: 0 30px;
                    img{
                        grid-row: 2;
                        margin: 0 auto;
                        width: 100%;
                    }
                    .content{
                        text-align: center;
                        margin: 30px 0px 10px;
                        h2{
                            width: 100%;
                            margin: 0 0 10px;
                        }
                        p{
                            margin-bottom: 30px;
                        }
                        a{
                            margin: 0 auto;
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}