@import '../../../variables.scss';

.portfolio-container{
    background-color: $blackColor;
    padding: 60px $borderPadding;
    .title{
        margin-bottom: 70px;
        h1{
            margin: 0;
            color: white;
            font-size: $titleSize;
        }
        p{
            margin: 0;
            color: white;
            font-size: $textSize;
            text-align: left;
            margin-top: 30px;
        }
    }

    .category{
        background-color: $blackColor;
        margin: 40px 0;
        .top-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            h1{
                font-size: 1.3rem;
                margin: 0;
                height: fit-content;
                padding: 15px 30px;
                border-radius: 10px;
                color: white;
                background-color: $primaryColor;
            }
            h2{
                font-size: 1.7rem;
                margin: 0;
                height: fit-content;
                border-radius: 10px;
                color: white;
            }
        }
        .products{
            display: flex;
            justify-content: left;
            flex-wrap: wrap;

            .product-card{
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 768px){
    .portfolio-container{
        padding: 60px $borderPaddingMobile;
        .title{
            p{
                text-align: justify;
            }
        }
        .category{
            .top-container{
                h1,h2{
                    margin: 0 auto;
                }
            }
        }
    }
}

