@import '../../../variables.scss';

.servicios-container{
    background-color: $blackColor;
    color: white;
    margin: 0;
    width: 100%;
    padding: 20px 0;

    section{
        padding: 40px $borderPadding;
    }
    
    h1{
        font-size: $titleSize;
        margin: 0 0 20px;
    }
    
    h2{
        width: 100%;
        text-align: left;
        font-size: $subtitleSize;
        margin: 0;
    }
    
    p{
        font-size: $textSize;
        margin: 0;
        margin-top: 10px;
        text-align: left;
    }

    .servicios{
        width: calc(100% - $borderPadding*2);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        .iconos{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 50px;

            svg{
                width: 50px;
                height: 50px;
            }

            p{
                font-size: 20px
            }
        }
    }

    .paquetes{
        width: calc(100% - $borderPadding*2);
        display: flex;
        flex-direction: column;
        align-items: center;

        .background{
            background-color: $primaryColor;
            width: 96%;
            padding: 2% 3%;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .card-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            
            h2{
                text-align: left;
                width: 100%;
                margin-top: 0;
                margin-bottom: 30px;
            }
        }

        
    }
}

@media (max-width: 768px){
    .servicios-container{
        section{
            padding: 20px $borderPaddingMobile;
        }
        .servicios{
            width: fit-content;
            margin: 0 auto;
            .iconos{
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
                div{
                    width: fit-content;
                    margin-bottom: 30px;
                    p{
                        font-size: 14px;
                        margin: 0;
                    }
                }
            }
        }
        .paquetes{
            width: calc(100% - $borderPaddingMobile*2);
            .background{
                h2{
                    margin: 10px auto -10px;
                    text-align: center;
                }
            }
        }
    }
}