@import '../../../index.scss';

.product-page{
    padding: 60px calc($borderPadding - 6%);
    background-color: $blackColor;
    section{
        &.main-pdp{
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            div{
                height: 500px;
                &.gallery{
                    display: flex;
                    justify-content: space-between;
                    width: calc(50% - 40px);
                    padding-right: 40px;
                    img{
                        border-radius: 12px;
                    }
                    .image{
                        height: 100%;
                        img{
                            height: 100%;
                        }
                    }
                    .column{
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        div{
                            cursor: pointer;
                            height: 20%;
                            border: 3px solid transparent;
                            &.selected{
                                border-radius: 15px;
                                border-color: #6537C7;
                            }
                            img{
                                height: 100%;
                            }
                        }   
                    }
                }
                &.info-card{
                    background-color: #262626;
                    width: 400px;
                    border-radius: 25px;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    div{
                        height: fit-content;
                        margin: 20px 30px;
                        color: white;
                        h1{
                            margin: 0;
                            font-size: 1.7rem;
                        }
                        &:nth-of-type(2){
                            margin-right: 34px;
                        }
                        div{
                            margin: 20px 0 40px;
                            span{
                                margin-right: 10px;
                                font-size: 0.8rem;
                                font-weight: 600;
                                padding: 5px 8px;
                                border-radius: 5px;
                                background-color: #e0e0e0;
                                color: black;
                                display: inline-block;
                                margin-bottom: 10px;
                            }
                        }
                        a{
                            &.button{
                                text-align: center;
                                margin: 10px auto;
                                display: block;
                                width: 100%;
                                padding-left: 0;
                                padding-right: 0;
                                font-size: 1.2rem;
                                &:nth-of-type(2){
                                    font-weight: 100;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.changes{
            margin: 40px 0 40px;
            width: 50%;
            text-align: left;
            color: white;
            h2{
                font-size: 1.8rem;
                margin-top: 45px;
            }
            ul{
                padding: 0 30px;
                li{
                    line-height: 1.1;
                    margin-bottom: 0.6rem;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .product-page{
        padding-top: 30px;
        section{
            &.main-pdp{
                flex-direction: column;
                margin-top: 0;
                div{
                    height: 400px;
                    margin: 0 auto;
                    &.gallery{
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    &.info-card{
                        height: fit-content;
                        width: 100%;
                        div{
                            &.buttons{
                                margin-top: -20px;
                            }
                            div{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
            &.changes{
                width: 100%;
            }
        }
    }
}