$header-height: 65px;
$primaryColor: #6537C7;
$blackColor: #141414;
$whiteColor: white; 
$borderPadding: 15%;

$titleSize: 40px;
$subtitleSize: 35px;
$textSize: 18px;
$smallTextSize: 15px;

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  height: $header-height;
}
