$header-height: 60px;
$primaryColor: #6537C7;
$blackColor: #141414;
$whiteColor: white; 
$borderPadding: max(calc((100vw - 1280px) / 2), 5%);

$titleSize: 40px;
$subtitleSize: 35px;
$textSize: 18px;
$smallTextSize: 15px;