$header-height: 60px;
$primaryColor: #6537C7;
$blackColor: #141414;
$whiteColor: white; 
$borderPadding: max(calc((100vw - 1180px) / 2), 2.5%);
$borderPaddingMobile: max(calc((100vw - 430px) / 2), 5%);

$titleSize: 30px;
$subtitleSize: 25px;
$textSize: 14px;
$smallTextSize: 11px;